# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~

#directory
bin
*.build

*Pamilator*

#CMake
CMakeCache.txt
CMakeScripts
CMakeFiles

#XCode
*.xcodeproj

Benchmark

*.trace